.thanks {
    background: #4F745A;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 50%;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.spacer {
    padding: 2%; 
}

.otherinspo {
    padding: 2%;
    background: #A0BAA7;  
    background-image: url(../../assets/userbackground.jpeg);
    background-size: cover;
}


.sites, .links{
    display: flex;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    padding:2% 0 2% 0;
    justify-content: space-evenly;
}

.linky {
    background: #A0BAA7;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 15%;
    padding: 1%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product {
    height: 190px;
    padding: 2%;  

}

.trying{
    margin-left: auto;
    margin-right: auto;
}
.web {
    height: 400px;
}
.adminLinks{
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 15px ;
}
.linkCaption{
    font-size: 1.2vw;
}
.embedLink{
    padding: 1%;
    width: 350px;
    height: 350px;

}
.addText{
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    padding: 1%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 15px ;
    margin-bottom: 15px;
}
.thanks1{
    background: #4F745A;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 50%;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.img{
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 15px ;
    margin-bottom: 15px;
}
.embedImg{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.embedFig{
    max-width: 100%;
    max-height: 100%;
}
.img2{
    width: 500px;
    height: 500px;
}
.imgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productName{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.figure{
    align-items: center;
    text-align: center;
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 15px ;
    margin-bottom: 15px;

}