body {
    margin: 0;
}

.App {
    text-align: center;
    background: #A0BAA7;
}

.App-logo {
    opacity: .8;
    
}

.App-header {
    background-color: #A0BAA7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
