body {
    margin: 0;
}

.about {
    background: #A0BAA7;
    display: flex;
    background-image: url(../../assets/aboutBackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.title {
    text-align: center;
    border: white solid 5px;
    width: 20%;
    background-color: #C5DDE1;
    margin-top: 5%;
}

.dee {
    width: 40%;
    border: white solid 5px;
    box-sizing: border-box;
}
.deeContent{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.info {
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 40%;
}

.App-header {
    background-color: #A0BAA7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

