.top-header {
    background: #A0BAA7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
}

.main-logo {
    display:flex;
    height: 50px;
    padding: 2%;
}
.nav-items {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    background-color: #4F745A;
    color: black;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link:hover {
    background-color: #08bd9a;
}
.nav-logo{
    width: 20%;
    align-self: center;
    padding-bottom: 2px;
}
.social-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-logos{
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-link{
    display: inline-block;
    height: 100%;
}
.social-image{
    height: 100%;
    padding: 0 5px;
    align-self: center;
}
.social-logos > .login{
    height: 100%;
    width: 11%;
    font-size: 90%;
    margin: auto 1%;
    border: black 2px solid;
    color: black;
}