.header {
    background: #A0BAA7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1%;
}

.nav-logo {
    display:flex;
    height: 50px;
    padding: 2%;
}

/* .nav-logo:hover {

} */
.nav-items {
    display:flex;
}

.nav-link {
    background-color: #4F745A;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #08bd9a;
}
.social-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-logos{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-image{
    max-height: 40px;
    max-width: 40px;
    padding: 0 5px;
    align-self: center;
}