.background {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    padding: 5%;
    
    background-image: url("/logos/LoginBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
}
.box{
    box-sizing:  border-box;
    width: 30%;
    height: 75%;
    border: 5px solid #FFFEFE;
    border-radius: 20px ;
    background: #4F745A;
    text-align: center;
    padding: 10px;
    
}
.form{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto 100px;
}
.box h1{
    color: white;
    padding-bottom: 15%;
}
