.grid2{
    padding: 10px;
    display: flex;
    background-image: url(../../assets/leafBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.title{
    background: #C5DDE1;
    border: 5px solid #FFFFFF;
    color: white;
    padding: .5%;
    width: 500px;
}
.entry{
    background-color: #4F745A;
    padding: 1%;
    color: white;
}
.commentGroup{
    background: white;
}
.titleLink {
    color: black;
}
.segmentGroup{
    background: #A0BAA7;
    border: 5px solid #A0BAA7;
    border-radius: 15px ;
    padding: 5px;
}
.postRow{
    padding: 2%;
}
.postsTitle{
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    color: white;
    padding: .5%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
.buttonRow{
    flex: 1;
    align-items: center;
    padding-top: 3.9%;
}
.postButton{
    align-self: center;
    padding-top: 10%;
    
}