.results{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.entry2{
    width: 40%;
    margin: 1% 5%;
    background-color: #4F745A;
    padding: 1%;
    color: white;
    border: white 5px solid;
    border-radius: 3%;
    white-space: nowrap;
    overflow: hidden;
}
.entry > p{
    text-align: left;
    white-space: initial;
}
.tester{
    white-space: initial;
}
.modalTitle:hover{
    color: #007bff;
}