body {
    margin: 0;
}

.remedy {
    background: #A0BAA7;
    display: flex;
    background-image: url(../../assets/remedy-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    padding:2% 0 2% 0;
}

.remedyTitle {
    background-color: #C5DDE1;
    padding: 10px;
    color: white;
    border: white solid 5px;
}

.body {
    position: relative;
    width: 60%;
    border: white solid 5px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 10;
}

.wrist {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 110%;
    position: absolute;
}

.hands {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 42%;
    top: 108%;
    position: absolute;
}

.fingers {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 42%;
    top: 115%;
    position: absolute;
}

.head {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 60%;
    position: absolute;
}

.face {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 61%;
    position: absolute;
}

.eyes {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 64%;
    position: absolute;
}

.ears {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 67%;
    position: absolute;
}

.mouth {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 70%;
    position: absolute;
}

.lips {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 28%;
    top: 73%;
    position: absolute;
}

.throat {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 71%;
    position: absolute;
}

.arm {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 30%;
    top: 90%;
    position: absolute;
}

.stomach {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 95%;
    position: absolute;
}

.legs {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 115%;
    position: absolute;
}

.knee {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 125%;
    position: absolute;
}

.feet {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 150%;
    position: absolute;
}

.back {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 60%;
    top: 90%;
    position: absolute;
}

.chest {
    border-radius: 8px;
    background-color: #C5DDE1;
    z-index: 20;
    left: 35%;
    top: 80%;
    position: absolute;
}

.remedy{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.pain {
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 40%;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    align-items: center;
}
.suggestions{
    display: flex;
    flex-flow: column;
    padding: 1%;
    align-items: center;
    padding-bottom: 5%;
    margin: 0;
}
.inspoTitle{
    margin: auto;
}
.booking,.aboutTitle, .inspoTitle,.findHerbs{
    font-family: inherit;
    border: white solid 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.booking,.findHerbs{
    background-color: #4F745A;
}
.booking > a , .findHerbs > a{
    color: white;
    padding: 5%;
}
.herbGallery{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}
.galleryImage{
    max-width: 20vw;
    margin-bottom: 5%;
}
.galleryItem{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33%;
}
figcaption, .galleryTitle{
    text-align: center;
    color: white;
}