body {
    margin: 0;
}

.remedy {
    background-image: url("./../../assets/glossaryBackground.png");
    background-size: auto;
    min-height: 200vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2%;
    font-family: "brawler" serif;
}



.remedyTitle {
    background-color: #C5DDE1;
    padding: 10px;
    color: white;
    border: white solid 5px;
}

.body {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: white solid 5px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 10;
}

.wrist {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 48%;
    right: 82%;
}
.wrist:hover{
    background: white;
}

.hands {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 46%;
    right: 56%;
}
.hands:hover{
    background: white;
}

.fingers {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 42%;
    right: 55%;
}
.fingers:hover{
    background: white;
}

.head {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 92%;
    right: 69.5%;
}

.head:hover{
    background: white;
}

.face {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 85%;
    right: 69.5%;
}

.face:hover{
    background: white;
}

.eyes {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 86.5%;
    right: 67%;
}

.eyes:hover{
    background: white;
}

.ears {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 86.5%;
    right: 75.5%;
}

.ears:hover{
    background: white;
}

.mouth {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 82%;
    right: 71%;
}

.mouth:hover{
    background: white;
}

.lips {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 82%;
    right: 68%;
}

.lips:hover{
    background: white;
}

.throat {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 78%;
    right: 69.5%;
}

.throat:hover{
    background: white;
}

.arm {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    right: 78%;

}

.arm:hover{
    background: white;
}

.dot {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    right: 78%;
  }

.stomach {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 58%;
    right: 69.5%;
}

.stomach:hover{
    background: white;
}

.legs {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 39%;
    right: 74%;
}

.legs:hover{
    background: white;
}

.knee {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 26%;
    right: 66%;
}

.knee:hover{
    background: white;
}

.feet {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 100%;
    position: absolute;
    bottom: 5%;
    right: 66.5%;
}

.feet:hover{
    background: white;
}

.back {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 60%;
    right: 28%;
}

.back:hover{
    background: white;
}

.chest {
    height: 17px;
    width: 17px;
    background-color: #4F745A;
    border-radius: 50%;
    position: absolute;
    bottom: 74%;
    right: 69.5%;
}

.chest:hover{
    background: white;
}
.pain {
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 40%;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    align-items: center;
}
.suggestions{
    display: flex;
    flex-flow: column;
    padding: 1%;
    align-items: center;
    padding-bottom: 5%;
    margin: 0;
}
.inspoTitle{
    margin: auto;
}
.booking,.aboutTitle, .inspoTitle,.findHerbs{
    font-family: inherit;
    border: white solid 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.booking,.findHerbs{
    background-color: #4F745A;
}
.booking > a , .findHerbs > a{
    color: white;
    padding: 5%;
}
.herbGallery{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}
.galleryImage{
    max-width: 20vw;
    margin-bottom: 5%;
}
.galleryItem{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33%;
}
figcaption, .galleryTitle{
    text-align: center;
    color: white;
}
.bodyOutline{
    height: 675px;
    width: 675px;
    background-image: url(../../assets/body-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}