body {
    margin: 0;
}

.remedy {
    background-image: url("./../../assets/glossaryBackground.png");
    background-size: auto;
    min-height: 200vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2%;
    font-family: "brawler" serif;
}



.remedyTitle {
    background-color: #C5DDE1;
    padding: 10px;
    color: white;
    border: white solid 5px;
}

.body {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: white solid 5px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 10;
}

.wrist {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 48%;
    right: 79%;
}

.hands {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 45%;
    right: 52.5%;
}

.fingers {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 39%;
    right: 50%;
}

.head {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 92%;
    right: 67%;
}

.face {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 86%;
    right: 67%;
}
.eyes {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 86%;
    right: 57%;
}

.ears {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 86%;
    right: 77%;
}

.mouth {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 81%;
    right: 66.5%;
}

.lips {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 81%;
    right: 60%;
}

.throat {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 78%;
    right: 66.5%;
}

.arm {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 70%;
    right: 78%;

}

.stomach {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 58%;
    right: 65.3%;
}

.legs {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 39%;
    right: 71%;
}

.knee {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 26%;
    right: 63%;
}

.feet {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 1%;
    right: 66.5%;
}

.back {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 60%;
    right: 25.5%;
}

.chest {
    border-radius: 8px;
    background-color: #C5DDE1;
    position: absolute;
    bottom: 74%;
    right: 66.5%;
}
.pain {
    background: #A0BAA7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    width: 40%;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    align-items: center;
}
.suggestions{
    display: flex;
    flex-flow: column;
    padding: 1%;
    align-items: center;
    padding-bottom: 5%;
    margin: 0;
}
.inspoTitle{
    margin: auto;
}
.booking,.aboutTitle, .inspoTitle,.findHerbs{
    font-family: inherit;
    border: white solid 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.booking,.findHerbs{
    background-color: #4F745A;
}
.booking > a , .findHerbs > a{
    color: white;
    padding: 5%;
}
.herbGallery{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}
.galleryImage{
    max-width: 20vw;
    margin-bottom: 5%;
}
.galleryItem{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33%;
}
figcaption, .galleryTitle{
    text-align: center;
    color: white;
}
.bodyOutline{
    height: 675px;
    width: 675px;
    background-image: url(../../assets/body-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}